* {
    box-sizing: border-box;
}

body {  
    font-family: 'Varela Round', sans-serif;
    font-size: 22px;
    color: white;  
    background: url('../images/parks-rec-bkgrnd.jpeg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
    font-size: 55px; 
    border: 2px groove white; 
    padding: 25px; 
    width: auto;
    font-family: 'Bevan', cursive;
}

.container {
    background-color: green;
    border: 2px groove lightgrey; 
    padding: 25px; 
    width: auto; 
    height: auto; 
}

.answer-choices {
    display: block; 
}

.ans-img {
    max-width: 100%; 
    max-height: 100%; 
}

.footer {
    width: 100%; 
    font-size: 15px!important; 
    background-color: green; 
    border-top: 1px groove grey;
}

.footer-text {
    color: white; 
}

.end-img { 
    max-width: 100%; 
    max-height: 100%; 
}